.DS_Store
node_modules
/build
/.svelte-kit
coverage
static/worker.js
static/worker.js.map
*.log
.firebase-config/service-account.json
.firebase
/src/components/preview/template/template.js
.vscode/settings.json
firebase-export-*
.vercel
.vercel_build_output