<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
		<style>
			.loader {
				border: 10px solid #f3f3f3;
				border-top: 10px solid #282c34;
				border-radius: 50%;
				width: 60px;
				height: 60px;
				animation: spin 2s linear infinite;
			}

			.loader-wrapper {
				height: 100vh;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			@keyframes spin {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
		</style>
		<script>
			// Create a public directory
			let static = {};

			// Create the script tag
			let script = createScript('');
			document.head.appendChild(script);

			// Create the style tag
			const style = document.createElement('style');
			document.head.appendChild(style);

			// Intercept console messages
			const levels = ['log', 'warn', 'error'];
			levels.forEach((level) => {
				console[level] = (text) => reply(level, text);
			});

			function reply(type = 'log', data) {
				window.opener.postMessage({
					type: type,
					data: data
				});
			}

			// Generate a new script tag to re-run the script
			function createScript(src) {
				const script = document.createElement('script');
				script.setAttribute('type', 'module');
				script.innerHTML = src;
				return script;
			}

			function update(e) {
				switch (e.data.type) {
					case 'url':
						document.body.addEventListener('click', (clickEvent) => {
							// If it's not a left click, ignore it
							if (event.which !== 1) return;
							// If it's a click combined with some key combination, ignore it.
							if (event.metaKey || event.ctrlKey || event.shiftKey) return;
							// If the event default has already been prevented, ignore it.
							if (event.defaultPrevented) return;

							// Traverse the event target to find the link node if present, else return.
							// Inspired by https://github.com/sveltejs/svelte-repl
							let link = event.target;
							while (link && link.nodeName !== 'A') link = link.parentNode;
							if (!link || link.nodeName !== 'A') return;

							// If it's not an application link, ignore it.
							if (
								link.hasAttribute('download') ||
								link.getAttribute('rel') === 'external' ||
								link.target
							)
								return;

							// All base cases are now handled, so consume this event and prevent the default behavior.
							event.preventDefault();

							// Handle relative and hash URLs as these should redirect to within the application.
							// Hash URLs are used by libraries like react-router.
							if (link.href.startsWith(e.origin)) {
								const url = new URL(link.href);
								if (url.hash[0] === '#') {
									// Load the hash url
									window.location.hash = url.hash;
									return;
								} else if (url.pathname.endsWith('.html')) {
									// Load the static file
									document.body.innerHTML = static['public' + url.pathname];
									return;
								}
							}

							// Open the link in a new window as this is the expected behavior.
							window.open(link.href, '_blank');
						});
						break;
					default:
						// Update the filesystem for public files
						static = e.data.compiled.public;

						// Load the index.html file
						if ('public/index.html' in static) {
							document.body.innerHTML = static['public/index.html'];
						}

						// Load the script bundle
						document.head.removeChild(script);
						script = createScript(e.data.compiled.js);
						document.head.appendChild(script);

						// Load the styles
						style.innerHTML = e.data.compiled.css;
						break;
				}
			}

			// Let the application know that the popup has loaded successfully
			reply('system', 'loaded');
			// Listen for new commands
			window.addEventListener('message', update);
			window.addEventListener('beforeunload', () => {
				reply('system', 'quit');
			});
		</script>
	</head>
	<body>
		<div class="loader-wrapper">
			<div class="loader"></div>
		</div>
	</body>
</html>
